# Large Data Files
*.csv
*.xlsx
*.zip
*.tar.gz
*.dta

# Grading & School Documents
*.docx
*.pdf
*.pptx

# Exception: allow presentation files
!KDHS_2022_Capstone_The Insights Architects.pdf
!KDHS_2022_Capstone_The Insights Architects.pptx

# Jupyter Checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/
.virtualenv/
.venv/
venv/
env/
__pycache__/
*.pyc

# Local system files
.DS_Store
Thumbs.db

# serialized models
*.joblib
*.pkl
Capstone Project/
